body {
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
}

html, body, .ng-scope, .container-fluid, .row {
	width: 100%;
}

.boardsContainer, .pinContainer {
	text-align: center;
}

.boardsHeader{
	text-align: left;
	margin-top: 50px;
	font-size: 7em;
}

.boardsHeader h1{
	font-size: 7rem;
	margin-left: 50px;
}

.addABoard {
	text-align: right;
	margin-top: 90px;

}

.navbar {
	position:fixed;
	top:1;
	width:100%;
	z-index:110;
	padding-bottom: 10px;
}

.boardHeader, .pinHeader {
	box-shadow: 5px 5px 5px #fff;
	background-color: #212b31;
	color: white;
	text-align: left;
	border-bottom: 2px solid #BD081C;
	position:fixed;
	top:0;
	z-index:100;
	width: 100%;
	margin-top: 5%;
}

.ghost {
	margin-bottom: 160px;
}

.boardImage {
	min-width: 200px;
	min-height: 200px;
	max-width: 200px;
	max-height: 200px;
}

.pinRemove {
	margin-left: 10%;
	margin-bottom: 10%;
}

.glyphicon-remove {
	margin-top: 1%;
	color: #BD081C
}

.boardTitle {
	text-align: center;
}

.pinImage {
	max-width: 200px;
	max-height: 200px;
}


.boardCard, .pinCard {
	margin-top: 1%;
	box-shadow: 0 20px 40px -20px;
	margin-bottom: 10%;
	text-align: center;
}

.cardColumn {
	text-align: center;
	margin-top: 25%;
}



.addBoardCard {
}

.pin img {
	max-width: 400px;
}

.user-login {
	text-align: center;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 300px;
}

.loginButton {
	height: 45px;
	width: 150px;
	background-color: #BD081C;
	color: white;
	font-size: 2rem;
}






