<div class=" container boardsContainer">
  <div class="ghost"></div>
  <div class="row boardHeader">
    <div class="col-md-6 boardsHeader">
      <h1>My Boards</h1>
    </div>
    <div class="col-md-6 addABoard">

      <span class="addBoard glyphicon glyphicon-plus" data-toggle="modal" data-target="#myModal" value="Add a board"></span><span data-toggle="modal" data-target="#myModal">Add a Board</span>
    </div>
  </div>
  <div class="row cardColumn">
    <div class="col-md-4 boardCard" ng-repeat="board in boards | filter: {title: searchText.searchTerm}">
      <div class="glyphicon glyphicon-remove col-md-2" ng-click="deleteBoard(board.id)"></div>
      <img class="boardImage" ng-click="loadPins(board.id)" ng-src="{{board.url}}">
      <div class="boardTitle">{{board.title}}</div>
    </div>
  </div>

  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add Board</h4>
        </div>
        <div class="modal-body">
          <div>
           Board Title: <input type="text" ng-model="newBoardItem.title">
         </div>
         <div>
           Image URL: <input type="text" ng-model="newBoardItem.url">
         </div>
       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="saveBoardItem()" data-dismiss="modal">Save Board</button>
      </div>
    </div>
  </div>
</div>
</div>
